.DS_Store
/promgraf/data/
/kafka-tls/secrets/*.crt
/kafka-tls/secrets/*.csr
/kafka-tls/secrets/*.pem
/kafka-tls/secrets/*.p12
/kafka-tls/secrets/*.jks
/kafka-tls/secrets/*_creds
/kafka-tls/secrets/*.key
/kafka-tls/secrets/*.srl
/kafka-tls-sasl/secrets/*.crt
/kafka-tls-sasl/secrets/*.csr
/kafka-tls-sasl/secrets/*.pem
/kafka-tls-sasl/secrets/*.p12
/kafka-tls-sasl/secrets/*.jks
/kafka-tls-sasl/secrets/*_creds
/kafka-tls-sasl/secrets/*.key
/kafka-tls-sasl/secrets/*.srl
kafka-sasl/configs/kafka.properties
kafka-sasl/configs/log4j.properties
kafka-sasl/configs/tools-log4j.properties
kafka-tls-sasl/configs/kafka.properties
kafka-tls-sasl/configs/log4j.properties
kafka-tls-sasl/configs/tools-log4j.properties
kafka-tls/configs/tools-log4j.properties
kafka-tls/configs/log4j.properties
kafka-tls/configs/kafka.properties
